<div class="detail">
    <h1>{{data.title}}</h1>
    <div class="dt-info">
        <div class="dti-i"><img onerror='this.src="assets/img/sc.jpg"' alt="{{data.images.large}}" src="{{data.images.large}}"></div>
        <div class="dti-w">
            <p>
                <strong>导演：</strong>
                <span ng-repeat="item in data.directors">{{item.name}} </span>
            </p>
            <p>
                <strong>主演：</strong>
                <span ng-repeat="item in data.casts">{{item.name}}、</span>
            </p>
            <p><strong>类型：</strong>
            <span ng-repeat="item in data.genres">{{item}} </span></p>
            <p><strong>国家：</strong>中国</p>
            <p><strong>评分：</strong>{{data.rating.average}}</p>
            <p><strong>时间：</strong>{{data.year}}</p>
            <p><strong>又名：</strong>{{data.original_title}}</p>
        </div>
    </div>
    <h3>剧情简介:</h3>
    <p style="color:#676767">这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。这里剧情简介。</p>
</div>